
.d-flex{
  display: flex;
  align-items: center;
}
.d_flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dj-flex{
  display: flex;
  justify-content: space-between;
}
.df-flex{
  display: flex;
}
main{
  width: 868px;
}
.relative{
  position: relative;
}
.lds-dual-ring {
  z-index: 100;
  position: fixed;
  display:block;
  width: 100px;
  height: 100px;
  top: 30%;
  left: 55%;
  margin-top: 100px;

}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

